{% for alert in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>An error occured :</strong> {{ alert }}
    </div>
{% endfor %}
{% for alert in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ alert }}
    </div>
{% endfor %}
