<h3>Last played image</h3>
{% if not payload.error is defined %}
<img src="{{ path('thumbnail', {'format': 'sidebar', 'folder': payload.folder, 'file': payload.filename}) }}" class="img-thumbnail">
<dl class="dl-horizontal">
    <dt style="width: 60px;">Day</dt>
    <dd style="margin-left: 80px;">{{ payload.folder|capitalize }}</dd>
    <dt style="width: 60px;">File</dt>
    <dd style="margin-left: 80px;">{{ payload.filename }}</dd>
    <dt style="width: 60px;">When</dt>
    <dd style="margin-left: 80px;">{{ payload.timestamp|date }}</dd>
</dl>
{% else %}
    <p>No status defined for last played image. (message : {{ payload.error }})</p>
{% endif %}
<div class="btn-group" role="group">
    {% if not payload.error is defined %}
    <a href="{{ path("replay", {'return': global.request.get('folder')}) }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-repeat"></span> Replay last image</a>
    {% endif %}
    <a href="{{ path("blackscreen") }}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-stop"></span> Display black screen</a>
</div>
