<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path("homepage") }}">Nitrogen</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            {% for dir in base_folders %}
                <li><a href="{{ path('folder', {'name': dir}) }}">{{ dir|capitalize }}</a></li>
            {% endfor %}
        </ul>
        <p class="navbar-text pull-right"><strong>{{ name }}</strong></p>
    </div><!-- /.container-fluid -->
</nav>
