{% extends 'base.twig' %}
{% block content %}
    <div class="page-header">
        <h2>{{ folder|capitalize }} <small>Folder content</small></h2>
    </div>
    {% for file in files %}
        {% set filename = file|split("/") %}
        <div class="media">
            <div class="media-left">
                <img data-featherlight="{{ path('thumbnail', {'format': 'lightbox', 'folder': filename[0], 'file': filename[1]}) }}" class="media-object" src="{{ path('thumbnail', {'format': 'list', 'folder': filename[0], 'file': filename[1]}) }}" alt="...">
            </div>
            <div class="media-body">
                <h4 class="media-heading" style="max-width: 25em;white-space: nowrap; overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;">{{ filename[1] }}</h4>
                <a href="{{ path('play', {'folder': folder, 'file': filename[1]}) }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>&nbsp;Play</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
