{% extends 'base.twig' %}
{% block content %}
    <div class="page-header">
        <h2>Day selection</h2>
    </div>
    <p>Please select the day:</p>
    <ul>
        {% for dir in base_folders %}
            <li><a href="{{ path('folder', {'name': dir}) }}">{{ dir|capitalize }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}
